<br /><br /><br />
<div class="container">
<h1>Editing vipbbsrsbb</h1>

<%= render 'form' %>

<%= link_to 'Show', @vipbbsrsbb, :class => 'btn btn-primary' %>
<%= link_to 'Back', vipbbsrsbbs_path, :class => 'btn btn-primary' %>
</div>